# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Data and outputs
data/
outputs/

# Virtual environment
venv/

# Environment files
.env
*.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE-specific files
.idea/

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.orig
